extends layout
block content
   section
      article
         p Vous trouverez au d&eacute;but de ce livre une Feuille d&apos;Aventure sur laquelle vous inscrivez tous les d&eacute;tails
         |de votre qu&ecirc;te. Il est conseill&eacute; d&apos;en faire des photocopies qui vous permettront de jouer plusieurs fois.

         p Au cours de l&apos;initiation qui vous a permis de devenir un Seigneur Ka&iuml;, vous avez acquis une force
         |exceptionnelle ; les deux &eacute;l&eacute;ments essentiels de cette force sont repr&eacute;sent&eacute;s par
         |votre HABILET&Eacute; au combat et votre ENDURANCE. Avant d&apos;entreprendre votre mission, il vous faudra mesurer exactement
         |le degr&eacute; d&apos;efficacit&eacute; de votre entra&icirc;nement. A cet effet, vous devrez placer devant vous la Table de Hasard
         |qui se trouve &agrave; la fin du livre, fermer les yeux et pointer l&apos;extr&eacute;mit&eacute; non taill&eacute;e d&apos;un crayon
         |sur l&apos;un des chiffres de la Table en laissant faire le hasard. Si votre crayon d&eacute;signe le chiffre 0, vous n&apos;obtenez aucun point.

         p Le premier chiffre que votre crayon aura montr&eacute; sur la Table de Hasard repr&eacute;sentera votre HABILET&Eacute; au combat.
         |Ajoutez 10 &agrave; ce chiffre et inscrivez le total obtenu dans la case HABILET&Eacute; de votre Feuille d&apos;Aventure.
         |(Si par exemple votre crayon indique le chiffre 4 sur la Table de Hasard, vos points d&apos;HABILET&Eacute; seront de 14.)

         p Lorsque vous aurez &agrave; combattre, il faudra mesurer votre HABILET&Eacute; &agrave; celle de votre adversaire.
         |Il est donc souhaitable que votre total d&apos;HABILET&Eacute; soit le plus &eacute;lev&eacute; possible.

         p Le deuxi&egrave;me chiffre que votre crayon d&eacute;signera sur la Table de Hasard repr&eacute;sentera votre
         |capacit&eacute; d&apos;ENDURANCE. Ajoutez 20 &agrave; ce chiffre et inscrivez le total obtenu dans la case ENDURANCE de
         |votre Feuille d&apos;Aventure. (A titre d&apos;exemple, si votre crayon indique le chiffre 6 sur la Table de Hasard,
         |le total de vos points d&apos;ENDURANCE sera de 26.)

         p Si vous &ecirc;tes bless&eacute; lors d&apos;un combat, vous perdrez des points d&apos;ENDURANCE et si jamais votre
         |ENDURANCE tombe &agrave; z&eacute;ro,vous saurez alors que vous venez d&apos;&ecirc;tre tu&eacute; et que votre aventure
         |est termin&eacute;e. Au cours de votre mission, vous aurez la possibilit&eacute; de r&eacute;cup&eacute;rer des points d&apos;
         |ENDURANCE mais votre total d&apos;ENDURANCE ne pourra en aucun cas d&eacute;passer celui dont vous disposiez au d&eacute;part de votre mission.

         p Si vous avez men&eacute; avec succ&egrave;s une ou plusieurs des aventures pr&eacute;c&eacute;dentes de la s&eacute;rie du
         |Loup Solitaire, vos points d&apos;HABILET&Eacute; et d&apos;ENDURANCE vous sont d&eacute;j&agrave; connus et vous savez &eacute;galement
         |quelles sont les Disciplines Ka&iuml; que vous ma&icirc;trisez. C&apos;est avec ces m&ecirc;mes &eacute;l&eacute;ments que vous entreprendrez
         |votre qu&ecirc;te dans ce cinqui&egrave;me volume. Vous pourrez aussi emporter dans cette nouvelle aventure les armes et les objets qui se trouvaient
         |en votre possession &agrave; la fin de votre derni&egrave;re mission : vous devrez alors les inscrire en d&eacute;tail sur votre Feuille d&apos;Aventure.
         |(Rappelez-vous cependant que vous n&apos;avez toujours pas droit &agrave; plus de deux armes et huit objets contenus dans votre Sac &agrave; Dos.

         p Pour chaque aventure du Loup Solitaire que vous aurez men&eacute;e avec succ&egrave;s, vous aurez le droit d&apos;ajouter une Discipline Ka&iuml;
         |suppl&eacute;mentaire &agrave; votre Feuille d&apos;Aventure : si vous &ecirc;tes d&eacute;j&agrave; un familier de la s&eacute;rie du Loup Solitaire,
         |reportez-vous &agrave; pr&eacute;sent &agrave; la rubrique &eacute;quipement de ce cinqui&egrave;me volume et lisez-la attentivement.

         p Au cours des si&egrave;cles, les moines Ka&iuml; ont appris &agrave; ma&icirc;triser toutes les techniques du guerrier. Ces techniques sont connues sous le nom
         |de Disciplines Ka&iuml; et enseign&eacute;es aux Seigneurs Ka&iuml;. Vous avez, quant &agrave; vous, le rang d&apos;Initi&eacute;,
         |ce qui signifie que vous ma&icirc;trisez cinq des techniques d&eacute;crites ci-dessous. Il vous appartient de choisir vous-m&ecirc;me ces cinq Disciplines.
         |Chaque Discipline Ka&iuml; peut vous &ecirc;tre utile &agrave; un moment ou &agrave; un autre de votre qu&ecirc;te et votre choix devra &ecirc;tre le plus judicieux possible ;
         |dans certaines circonstances, une habile mise en pratique de l&apos;une de ces techniques peut vous sauver la vie. Lorsque vous aurez choisi vos cinq Disciplines,
         |inscrivez-les dans la case correspondante de votre Feuille d&apos;Aventure.















