fieldset.singleRow
    legend Combats :
    p Clicker sur le bouton Générer pour produit des chiffres aléatoirs
    p HABILETÉ : &ensp;&ensp;
        input(id="idHabilite", type="text", name="HABILETÉ", readonly)
    Br
    p ENDURANCE :
        input(id="idendurance", type="text", name="ENDURANCE", readonly)
    Br
    p
    input(id="idBtnGenerer", type="button" value="Générer").buttonRight
