extends ./layout.jade

block content
    form(id="formulaire", method="get", action="/page1")
        p UserName:
            input(type="text", name= "Name")
        include discipline
        include Equipment
        include Combats
        p
        input(id="idBtnCommencer", type="submit" value="Commencer").buttonNewLine