extends layout

block content
    section

        h2 Pr&eacute;sentation g&eacute;nerale du livre-jeu

        article
            p   Solitaire (en anglais : Lone Wolf) est un univers d'heroic fantasy qui s'est tout d'abord d&eacute;velopp&eacute; sous la
                |forme d'une s&eacute;rie de livres-jeu &eacute;crite par Joe Dever et dont les huit premiers tomes ont &eacute;t&eacute; illustr&eacute;s par
                |Gary Chalk.

            p   Le nom de la s&eacute;rie provient de son h&eacute;ros, &laquo;Loup Solitaire &raquo;, dernier repr&eacute;sentant d'un ordre de moines
                |guerriers, les Ma&acirc;tres Ka&#239;. Au fil des tomes, le personnage lutte contre les forces des T&eacute;n&eacute;bres qui menacent
                |sans cesse le monde du Magnamund. Contrairement &agrave; l'autre s&eacute;rie-phare de livres-jeux, D&eacute;fis fantastiques, le
                |lecteur incarne toujours le m&ecirc;me personnage, et b&eacute;n&eacute;ficie de bonus s'il joue les aventures dans l'ordre.
            p   L'univers a ensuite &eacute;t&eacute; d&eacute;velopp&eacute; &agrave; travers d'autres formats litt&eacute;raires dont deux s&eacute;ries de romans, Legends
                |of Lone Wolf et Chronicles of Magnamund, un jeu de r&ocirc;le papier et un jeu vid&eacute;o, Joe Dever's Lone Wolf..



            h2 La sagesse Ka&iuml;

            article
                p    Votre mission sera infiniment p&eacute;rilleuse, car les terres de Kalte sont glaciales et hostiles, et votre ennemi est pass&eacute; maitre dans l&rsquo;art de
                    |la fourberie. Servez-vous de la carte qui figure au d&eacute;but de l&rsquo;ouvrage pour &eacute;tablir votre itin&eacute;raire jusqu&apos;&agrave;
                    |la Forteresse de Glace d&apos;Ikaya. Prenez des notes &agrave; mesure que vous progresserez dans votre qu&ecirc;te, elles vous seront profitables lors de
                    |futures missions. Vous allez d&eacute;couvrir des objets qui vous seront d&apos;une grande aide dans le d&eacute;roulement de votre aventure. Certains Objets
                    |Sp&eacute;ciaux pourront vous servir lorsque vous entreprendrez d&apos;autres missions du Loup Solitaire dans les livres suivants, mais il arrivera &eacute;galement
                    |qu&apos;un objet qui vous paraissait utile se r&eacute;v&egrave;le par la suite tout &agrave; fait inefficace. Aussi devrez-vous choisir avec discernement les objets
                    |que vous d&eacute;ciderez d&apos;emporter avec vous. De nombreux chemins m&egrave;nent &agrave; la Forteresse de Glace d&apos;Ikaya, mais un seul vous permettra de capturer
                    |Vonotar et de revenir avec lui au Sommerlund en courant un minimum de risques. Pour r&eacute;ussir votre mission, il vous faudra faire preuve d&apos;un grand courage et choisir
                    |judicieusement les Disciplines Ka&iuml; que vous souhaitez ma&icirc;triser. Vous pourrez alors parvenir avec succ&egrave;s au terme de votre aventure, m&ecirc;me si vos points
                    |d&apos;HABILET&Eacute; et d&apos;ENDURANCE sont faibles. 11 n&apos;est pas indispensable, pour mener cette qu&ecirc;te, d&apos;avoir accompli les missions pr&eacute;c&eacute;dentes de
                    |la s&eacute;rie du Loup Solitaire. Vous pouvez en effet vous lancer dans cette aventure sans avoir v&eacute;cu les &eacute;pisodes pass&eacute;s. La trahison dont votre pays
                    |a &eacute;t&eacute; victime sera veng&eacute;e si vous parvenez &agrave; ramener le tra&icirc;tre devant les juges qui lui feront payer le prix de ses forfaits. Alors, bonne chance !
                a(href='./form') Cr&eacute;ation du joueur

