extends layout
block content
    section
        article
            p Vous vous pr&eacute;parez en h&acirc;te et vous sortez de la tente. Le vent s&apos;est intensifi&eacute; et il emporte la neige
            |poudreuse en petits tourbillons qui r&eacute;duisent consid&eacute;rablement la visibilit&eacute;. Une ombre sur votre droite trahit la pr&eacute;sence
            |du Bakanal qui bondit sur vous. Vous n&apos;avez plus le temps d&apos;&eacute;viter son Assaut, et il vous faut le combattre jusqu&apos;&agrave; la mort.

            p BAKANAL HABILET&Eacute;: 19 ENDURANCE: 30

    div(classe='image_page78')
        img(src='/images/page78_image.jpg')



