extends layout
block content
   section
      article
         p  Votre mat&eacute;riel de transport est constitu&eacute; de deux tra&icirc;neaux tir&eacute;s chacun par un
            |attelage de chiens Kanu. Cette race vigoureuse est uniquement &eacute;lev&eacute;e &agrave; Kalte et on ne
            |trouve pas meilleurs chiens de tra&icirc;neau. Leur &eacute;paisse fourrure fauve, leur poitrail puissant,
            |leur robustesse et leur ardeur qui ne faiblit jamais, m&ecirc;me dans les climats les plus froids, les rendent
            |particuli&egrave;rement aptes &agrave; accomplir la t&acirc;che qui les attend. Chaque tra&icirc;neau contient suffisamment
            |de vivres et de mat&eacute;riel pour mener &agrave; bien votre mission. Quant &agrave; vos trois guides, Irian, Fenor et Dyce,
            |ce sont des trappeurs exp&eacute;riment&eacute;s pour qui les techniques de survie dans les r&eacute;gions polaires n'ont pas de
            |secrets. De plus, ils connaissent bien les p&eacute;rils cach&eacute;s qui abondent dans les terres de Kalte. D&egrave;s que les chiens
            |sont attel&eacute;s, vous prenez place sur l'un des tra&icirc;neaux en compagnie de Dyce, tandis que les autres ouvrent la voie sur l'autre
            |tra&icirc;neau. En contemplant l'&eacute;tendue glac&eacute;e de la banquise de Liouk, vous apercevez une lueur blanche &agrave; l'horizon :
            |c'est le glacier de Viad dont la coul&eacute;e de glace vient se jeter sur la banquise. L'air vif et limpide de Kalte donne une fausse impression
            |des distances : on dirait que le glacier se trouve &agrave; une dizaine de kilom&egrave;tres, alors qu'en fait il est distant d'au moins 100 kilom&egrave;tres.
            |La premi&egrave;re journ&eacute;e de votre voyage se passe bien et vous parcourez un bon nombre de kilom&egrave;tres. Lorsque, enfin, le soleil se couche, vous
            |d&eacute;cidez d'&eacute;tablir votre campement pour la nuit. Vous vous arr&ecirc;tez au milieu d'un cercle form&eacute; par des piliers de glace qui se sont dress&eacute;s
            |sous la pression de la banquise sans cesse en mouvement. Les tra&icirc;neaux sont rang&eacute;s c&ocirc;te &agrave; c&ocirc;te et la tente install&eacute;e juste devant.
            |On trouve ensuite un abri o&ugrave; les chiens pourront passer la nuit, puis l'heure vient de pr&eacute;parer le d&icirc;ner. Vous &ecirc;tes tous rassembl&eacute;s sous
            |la tente lorsqu'un terrible rugissement retentit soudain au-dehors. &laquo; Par tous les dieux ! s'&eacute;crie Irian, un Bakanal ! &raquo; Les Bakanals sont de grandes
            |cr&eacute;atures carnivores qui vivent &agrave; proximit&eacute; des c&ocirc;tes de Kalte. Ils se nourrissent habituellement de gaillelots ou de petites ostrelles qui
            |abondent au bord de la mer. Ce Bakanal, cependant, a &eacute;t&eacute; attir&eacute; par l'odeur des chiens et il s'appr&ecirc;te &agrave; les attaquer, bien d&eacute;cid&eacute;
            |&agrave; en d&eacute;vorer plusieurs d'un coup. Si vous souhaitez sortir de la tente pour vous lancer &agrave; l'attaque du Bakanal,
            a(href='./page78') rendez-vous au 78

