body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.menu ul, .menu li {
  margin: 1px;
  padding: 1px;
}
.menu ul {
  background: gray;
  list-style: none;
  width: 100%;
}
.menu li {
  float: left;
  position: relative;
  width:auto;
}
.menu li a {
  background: #30A6E6;
  color: #FFFFFF;
  display: block;
  font: bold 12px/20px sans-serif;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.menu li:hover a{
  background: #000000;
}
.active a{
  background-color: #DF4B05;
  color: #000;
}
.nonActive a{
  background: #30A6E6;
  color: #FFFFFF;
}
#footer p{
  text-align: center;
}
.singleRow
{
  float: left;
  width: 322px;
}
.buttonRight{
  float: right;
}
.buttonNewLine{
  float: right;
  display: inline-block;
  padding: 50px;
  margin: 150px;
}
.divColor {
  float: left;
  display: block;
  background-color: white;
  width: 100%;
}
.footer {
  float: left;
  display: block;
  background-color: white;
  width: 100%;
}